:root {
    /* Fonts */
    --heading-font: Jaro, sans-serif;
    --regular-font: Oswald, sans-serif;
}

/* *********************** GENERIC STYLES *********************** */

* {
    box-sizing: border-box;
    font-family: var(--regular-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

/* *********************** HEADER *********************** */

.main-header {
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
}

.main-nav {
    display: none;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color: #000;
}

.main-nav a {
    padding: 2rem;
    text-decoration: none;
    color: #fff;
    transition: 0.4s ease-in-out;
    font-size: 1.5rem;
}

.main-nav a:hover {
    background-color: #fff;
    color: #000;
}

.main-nav a:active {
    background-color: lightgray;
}

.show {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    border-top: none;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.active {
    font-weight: 700;
    text-decoration: underline;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.logo-wrapper {
    font-size: 3rem;
}

.logo {
    text-decoration: none;
    background: linear-gradient(to bottom right, orange, crimson);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

/* *********************** HOME PAGE *********************** */

.hero-wrapper {
    margin: 2rem 0;
    position: relative;
    text-align: center;
}

.call-to-action-btn {
    position: absolute;
    right: 33%;
    left: 33%;
    bottom: 1.5rem;
    background-color: #000;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    transition: 0.4s ease-in-out;
    border-radius: 25%;
}

.call-to-action-btn:hover {
    color: #000;
    background-color: #fff;
}

.main-heading {
    text-align: center;
}

.card-of-day {
    text-align: center;
    margin: 4rem 0;
}

.card-of-day h2 {
    padding: 0.5rem 1.5rem;
}

.randomizer {
    background-color: lightgray;
    padding: 2rem 0;
    text-align: center;
}

.random-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #000;
    color: #fff;
}

/* *********************** DATABASE PAGE *********************** */
.db-title {
    padding: 1rem 2rem;
    text-align: center;
}

.card-lookup-form {
    line-height: 2;
    font-size: 1.2rem;
    text-align: center;
}

input {
    min-height: 44px;
}

label[for="card-search"]::after {
    content: '\a';
    white-space: pre;
}

.card-database {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 85%;
    margin: 2rem auto;
    height: 500px;
    border: 1px ridge #000;
    padding: 1rem;
}

/* *********************** CARD PAGE *********************** */
.cd-title {
    text-align: center;
}

.card-details {
    line-height: 1.5;
    display: grid;
    width: 90%;
    margin: 1.5rem auto;
    font-size: 1.2rem;
}

.card-image {
    text-align: center;
}

/* *********************** DECK PAGE *********************** */
.deck-title {
    padding: 2rem;
}

.deck h2,
.deck div {
    max-width: 85%;
    margin: 2rem auto;
}

.deck div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 300px;
    border: 2px solid #000;
}

.img-container img {
    width: 100px;
    height: auto;
}

@media screen and (min-width: 650px) {
    .logo-wrapper {
        font-size: 4.5rem;
    }

    .main-nav a {
        font-size: 1.4rem;
    }

    .hero-image {
        width: 100%;
        max-width: 1500px;
        height: auto;
    }

    .menu-icon {
        display: none;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-top: none;
    }

    .cd-title {
        text-align: left;
        padding: 0.5rem 1.5rem;
    }

    .card-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .card-name-title {
        text-align: center;
        grid-column: 1 / 3;
    }

    .card-image img {
        width: 400px;
        height: auto;
    }
}